
:root .light{
    --text-color: #1f1f1f;
    --background: #ececec;
    --menu: #001529;
    --text-menu-color: #ececec;
}

:root .dark{
  --text-color: #b6b6b6;
  --background: #000000;
  --menu: #000000;
  --text-menu-color: #b6b6b6;
}

:root .gold{
  --text-color: #ffffff;
  --background: #D4AF37;
  --menu: #000000;
  --text-menu-color: #b6b6b6;
}

:root .silver{
  --text-color: #000000;
  --background: #C0C0C0;
  --menu: #000000;
  --text-menu-color: #b6b6b6;
}

body {
  color: var(--text-color);
  background: var(--background);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span.ant-progress-text {
  color: var(--text-color) !important;
}
.ant-col.ant-form-item-label > label {
  color: var(--text-color) !important;
}
li.ant-pagination-simple-pager {
  color: var(--text-color) !important;
}

input[type="text"] {
  color: black !important;
}
th.ant-descriptions-item-label.ant-descriptions-item-colon {
  background: var(--background);
  color: var(--text-color);
}
.ant-collapse-content.ant-collapse-content-active {
  background-color: var(--background) !important;
}
span.ant-upload-list-item-name.ant-upload-list-item-name-icon-count-1 {
  color: var(--text-color);
}

ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-inline {
  height: 100%;
}
ul.ant-menu.ant-menu-light.ant-menu-inline-collapsed.ant-menu-root.ant-menu-vertical {
  height: 100%;
}