
:root .light{
    --text-color: #1f1f1f;
    --background: #ececec;
}

:root .dark{
  --text-color: #b6b6b6;
  --background: #000000;
}

body {
  color: var(--text-color);
  background: var(--background);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span.ant-progress-text {
  color: var(--text-color) !important;
}
.ant-col.ant-form-item-label > label {
  color: var(--text-color) !important;
}
li.ant-pagination-simple-pager {
  color: var(--text-color) !important;
}

input[type="text"] {
  color: black !important;
}